.card {
    border: 1px solid black;
    padding: 12px;
    border-radius: 8px;
    /* margin-bottom: 10px; */
    text-align: center;
    background-color: white;
    width: 80px;
}

.name {
    font-weight: bold;
    color: black;
}

.online {
    color: green;
}

.offline {
    color: red;
}